/* Fondo general */
*{
  box-sizing: border-box;
  margin: 0px;
  
}

body {
  display: flex;
  justify-content: center; /* centro horizontal */
  align-items: center;     /* centro vertical */
  height: 100vh;           /* alto completo de la pantalla */
  font-family: "Righteous", sans-serif;
 
  
}
body{
  
  background-image: url("./assets/sakura.jpg");
  background-position: center;
  background-size: 1920px 1080px;
}

h1{
  padding: 10px;
  
  font-weight: bold;
}

#start-screen{
   background-color: white;
   opacity: 90%;
  width: 600px;
  height: 200px;
  
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 15px 20px rgba(0,0,0,0.15);
  text-align: center;
}


#quiz-container {
  position: relative;
  background-color: white;
  width: 700px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 15px 20px rgba(0,0,0,0.15);
  text-align: center;
}

#question {
  font-weight: bold;
  margin-bottom: 2rem;
}

#answers button {
  padding: 1rem;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
 
}

#answers button:hover {
  transform: scale(1.05);
}


#answers button:nth-child(1){ 
  color: #e74c3c;
  border-color: #e74c3c;
  border-style: groove;
   box-shadow: 0 5px 10px rgba(198, 24, 24, 0.934);
   } 
#answers button:nth-child(2) { 
  color: #f1c40f;
  border-color: #f1c40f;
  border-style: groove;
  box-shadow: 0 5px 10px rgba(219, 188, 15, 0.934);
 } 
#answers button:nth-child(3) {
   color: #86dd92; 
   border-color: #86dd92;
   border-style: groove;
   box-shadow: 0 5px 10px rgba(72, 221, 121, 0.843);
  } 
#answers button:nth-child(4) { 
  color: #3498db; 
  border-color:#3498db ;
  border-style: groove;
  box-shadow: 0 5px 10px rgba(52, 157, 238, 0.934);
} 

#answers button:nth-child(1):hover{ 
background-color: #e74c3c ;
color: #ffff;
}
#answers button:nth-child(2):hover { 
  background-color: #f1c40f;
  color: #ffff;
 } 

 #answers button:nth-child(3):hover {
   background-color: #86dd92; 
   color: #ffff;
  } 
  #answers button:nth-child(4):hover { 
  background-color: #3498db; 
  color: #ffff;
} 


#nextBtn {
  padding: 20px;
  cursor: pointer;
  float: right;
}
.answers-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
  gap: 1rem;                      /* separación entre botones */
  margin-bottom: 2rem;           /* espacio debajo de las respuestas */
  
}

.hide{
    display: none;
}

.correct{
  background-color: #86dd92 !important;
  color: #ffff !important;
  border: #86dd92 !important;
  box-shadow: 0 5px 10px rgba(72, 221, 121, 0.843) !important;
}
.incorrect {
 background-color:#ff0000 !important;
 border: none!important;
 color: #ffff !important;
 box-shadow: 0 5px 10px rgba(198, 24, 24, 0.934) !important;
}

#counter{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: bold;
  
}

.disabled-option {
  opacity: 0.5;
  pointer-events: none;
}